
<style>
.vertical-align {
    display: flex;
    align-items: center;
}
</style>

         <div class="container">
         <br>   
          <div class="row">
  <div class="col-md-24">
   <div class="row vertical-align">
   
   <div class="col-md-7 text-center">
      <h2>Welcome to Social.Acclaro.Digital</h1>
      <h4>Social Networking with <em>actual</em> privacy</h3>
    </div>

    <div style="padding: 10px;" class="col-md-2">
      <img class="img-responsive img-center" src="https://s3-eu-west-1.amazonaws.com/acclaro-assets/diaspora/spacer.svg" alt="">
    </div> 

    <div class="col-md-6  ">
      <img class="img-responsive img-center" src="https://s3-eu-west-1.amazonaws.com/acclaro-assets/diaspora/Seed-ball-logo.svg" alt="">
    </div>
  
    <div style="padding: 10px;" class="col-md-2">
      <img class="img-responsive img-center" src="https://s3-eu-west-1.amazonaws.com/acclaro-assets/diaspora/spacer.svg" alt="">
    </div> 


    <div class="col-md-7 text-center">
      <h3><a href="/users/sign_up">Sign up </a> or <a href="/users/sign_in">sign in</a></h2>
    </div>
    
  </div> 
  </div>
  </div>
 </div>
 
    <section>
        <div class="container">
        <br>
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive img-center" src="https://s3-eu-west-1.amazonaws.com/acclaro-assets/diaspora/distributed-social-network.svg" alt="">
                    <p class="section-paragraph">Diaspora* is completely decentralized, and any person from any pod can communicate with one another! You can register at any of these other pods as well. You can also choose to set up your own pod if you'd like..</p>
                </div>
            </div>
        </div>
    </section>

